<div id="<%= dom_id invoice %>">
  <div>
    <strong>Customer:</strong>
    <%= invoice.customer_id %>
  </div>

  <div>
    <strong>Due date:</strong>
    <%= invoice.due_date %>
  </div>

  <p>
    <strong>Total da Fatura:</strong>
    <%= number_to_currency(@invoice.calculated_total) %>
  </p>

  <div>
    <strong>Status:</strong>
    <%= invoice.status %>
  </div>

</div>
