<div id="<%= dom_id invoice %>">
  <div>
    <strong>Customer:</strong>
    <%= invoice.customer_id %>
  </div>

  <div>
    <strong>Due date:</strong>
    <%= invoice.due_date %>
  </div>

  <div>
    <strong>Total amount:</strong>
    <%= invoice.total_amount %>
  </div>

  <div>
    <strong>Status:</strong>
    <%= invoice.status %>
  </div>

</div>
