<div id="<%= dom_id line_item %>">
  <div>
    <strong>Invoice:</strong>
    <%= line_item.invoice_id %>
  </div>

  <div>
    <strong>Description:</strong>
    <%= line_item.description %>
  </div>

  <div>
    <strong>Quantity:</strong>
    <%= line_item.quantity %>
  </div>

  <div>
    <strong>Unit price:</strong>
    <%= line_item.unit_price %>
  </div>

</div>
